.board {
	font-size: 6px;
}

.board .tile {
	font-size: inherit;
	width: 10em;
	height: 10em;
	margin: 0;
	padding: 0;
	border: none;
}

.board .vWall {
	font-size: inherit;
	width: 2em;
	height: 10em;
	margin: 0;
	padding: 0;
	border: none;
}

.board .hWall {
	font-size: inherit;
	width: 10em;
	height: 2em;
	margin: 0 1em;
	padding: 0;
	border: none;
}

.board .tileRow {
	font-size: inherit;
	margin: 0;
	padding: 0;
	height: 10em;
	line-height: 10em;
}

.board .wallRow {
	font-size: inherit;
	margin: 0;
	padding: 0 1em;
	height: 2em;
	line-height: 2em;
}

.toolBox, .board {
	float: left;
}

.toolBox {
	list-style: none;
	padding: 0 2em;
}

.toolBox li {
	vertical-align: middle;
	padding: .5em;
}

.toolBox li:hover {
	cursor: pointer;
}

.toolBox .icon {
    display: inline-block;
    float: right;
    width: 1em;
    height: 1em;
    margin-left: .5em;
    margin-top: .5em;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
}

.toolBox .tool {
	display: inline-block;
	width: 2em;
	height: 2em;
	margin-right: .5em;
	vertical-align: middle;
}

.toolBox .tool.wall {
	width: .4em;
	margin: 0 1.3em 0 .8em;
}